body
    {
    background-color: #fffdd0;
    font-family: sans-serif; 
    margin: 20px;
}

.box1 {

border-width:2px;
border-style:dashed;
border-color:red;
min-height:30px;

}

.box2 {

border-width:10px;
border-left-style:dashed;
border-right-style:dotted;
border-top-style:double;
border-bottom-style:groove;
border-left-color:red;
border-right-color:black;
border-top-color:purple;
border-bottom-color:orange;
min-height:100px;
width:300px;

}

.box3 {

border-width:5px;
border-style:solid;
border-color:green;

padding-left: 10px;
padding-right: 50px;
padding-top: 20px;
padding-bottom: 100px;

}

.box4 {

border-width:10px;
border-style:solid;
border-color:blue;

margin:20px 100px 200px 50px;

}

.floatleft {
  float:left;
}

.floatright {
  float:right;
}

.floatbox1 {
  border: 2px solid blue;
  height:300px;
  width:500px;
}

.floatbox2 {
  border: 2px solid purple;
  height:300px;
  width:500px;
}

.floatbox3 {
  border: 2px solid orange;
  height:300px;
  width:500px;
}

.floatbox4 {
  border: 2px solid green;
  height:50px;
  width:500px;
  overflow:hidden;
}

.floatbox5 {
  border: 2px solid aqua;
  height:200px;
  width:500px;
  float:left;
}

.floatbox6 {
  border: 2px solid black;
  height:200px;
  width:500px;
}


.clear {
  clear:left;
}
