<style>
* {margin:0; padding:0;}
body {
	font-family:helvetica, arial, sans-serif;
	background-color:#F5DEB3;
	}
#wrapper {
	min-width:760px; max-width:1100px; margin:0 auto; border:1px solid; overflow:hidden;
	}
header {
	background:#f00;
	background-color:#000;
	}
header h1 {
	font-family:'Droid Sans';
	font-weight:400;
	font-size:4em;
	letter-spacing:-.05em;
	color:#fff;
	padding:0 0 5px 10px; 
	}
nav {
	display:table-cell;
	width:150px;
	background:#dcd9c0;
	padding:10px;
	background-color:#F5DEB3;
	}
nav li {
	list-style-type:none;
	background-color:#F5DEB3
	}
nav a {
	font-family:'Open Sans Condensed';
	font-weight:700;
	font-size:.85em;
	color:#616161;
	background-color:#F5DEB3
	}
article {
	display:table-cell;
	background:#ffed53;
	padding:10px 20px;
	background-color:#fff;
	}
article h1 {
	font-family:'Droid Sans';
	font-weight:700;
	font-size:1.5em;
	letter-spacing:-.05em;
	color:#616161;
	}
article h2 {
	font-family:'Droid Sans';
	font-weight:700;
	font-size:1.25em;
	letter-spacing:-.05em;
	color:#616161;
	text-decoration:overline;
	margin:10px 0 0 0;
	}
article p {
	font-family:'Open Sans Condensed';
	font-weight:300;
	font-size:1em;
	color:#000;
	}
aside {
	display:table-cell;
	width:210px;
	background:#3f7ccf;
	padding:10px;
	background-color:#F5DEB3
	}
aside h3 {
	font-family:'Open Sans Condensed';
	font-weight:700;
	letter-spacing:-.075em;
	color:#000;
	background-color:#F5DEB3
	}
aside p {
	font-family:'Open Sans Condensed';
	font-weight:700;
	font-size:.85em;
	line-height:1.2em;
	color:#000;
	background-color:#F5DEB3
	}
footer {
	clear:both;
	background:#000;
	text-align:center;
	}
footer p {
	font-family:'Open Sans';
	font-weight:700;
	font-size:.65em;
	color:#fff;
	}
footer a {
	font-family:'Open Sans';
	font-weight:700italic;
	font-size:1em;
	color:#ffed53;
	text-decoration:none;
	}
</style>